.contactusmain{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120vh;
    background: url(./images/section-bg02.png);
    background-size: cover;
    background-attachment: fixed;
}

.contactuslower{
    position: relative;
    top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: fit-content;
    /* background: white; */
    /* box-shadow: 0px 20px 25px #00000028; */
    border-radius: 15px;
    flex-wrap: wrap;
    cursor: pointer;
}

/* .contactuslower::before{
    content: '';
    position: absolute;
    left: 4%;
    bottom: 5%;
    background: linear-gradient(45deg, rgba(85, 19, 160, 0.7) 0%, rgba(85, 19, 160, 0.7) 100%), url(./images/research.jpg);
    opacity: 0;
    width: 750px;
    z-index: -1;
    height: 110%;
    border-radius: 15px;
    transition: opacity 0.5s;
} */

.hoverback{
    content: '';
    position: absolute;
    left: 10%;
    bottom: 5%;
    /* background: linear-gradient(45deg, rgba(85, 19, 160, 0.7) 0%, rgba(85, 19, 160, 0.7) 100%), url(./images/research.jpg); */
    opacity: 0;
    width: 750px;
    z-index: -1;
    height: 110%;
    border-radius: 15px;
    transition: opacity 0.5s;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 5px;
    /* background: black; */
}

.smallbox{
    content: '';
    position: relative;
    width: 10px;
    height: 110%;
    background: #FBB04B;
    display: flex;
    flex-wrap: wrap;
    transform: skewX(20deg);
}

.contactuslower:hover .contactusform{
    transform: translateX(-45px);
}

.contactuslower:hover .contactusdeatils{
    transform: translateX(45px);
}

.contactuslower:hover .hoverback{
    opacity: 1;
}

.contactusform{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #5513A0;
    gap: 20px;
    border-bottom-left-radius: 14px;
    border-top-left-radius: 14px;
    box-shadow: 10px 0px 20px #00000029;
    transition: all 0.5s;
}

.contactusdeatils{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 0px 15px 0px 15px;
    transition: all 0.5s;
    background: white;
    box-shadow: 0px 20px 25px #00000028;
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
    box-shadow: 10px 0px 20px #00000029;
}

.contactusheading{
    /* display: flex; */
    justify-content: center;
    align-items: flex-start;
    padding: 0px 30px;
    text-align: center;
    color: white;
    /* letter-spacing: 2px; */
}

.contactusheading h1{
    font-family: 'Cocogoose';
    margin-top: 40px;
    margin-bottom: 10px;
}

form{
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    flex-direction: column;
    gap: 30px;
    padding: 0px 30px;
    /* width: 100%; */
}

input{
    padding: 10px 10px;
    border: none;
    border-radius: 8px;
    background: #EEEEEE;
}

textarea{
    padding: 10px 10px;
    border: none;
    border-radius: 8px;
    resize: none;
    background: #EEEEEE;
}

textarea:focus, input:focus{
    outline: none;
}

.subbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 25px 30px 25px;
    width: 110px;
    background: white;
    color: #5513A0;
    border-radius: 8px;
    transform: translateX(120px);
    cursor: pointer;
    transition: all 0.5s;
}

/* .subbutton:hover{ */
    /* background: #5513A0;
    color: white; */
    /* border: 1px solid white; */
    /* box-shadow: 0px 0px 15px rgb(0, 0, 0); */
/* } */

.subbutton p{
    margin: 12px 0px;
    padding: 0px 30px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

.intouch{
    text-align: center;
    /* padding-right: 100px; */
}

.intouch h1{
    font-family: 'Cocogoose';
    font-size: 35px;
    color: #5513A0;
}

.bushours{
    text-align: center;
}

.bushours h1{
    font-family: 'Cocogoose';
    padding: 0;
    margin: 0;
    font-size: 35px;
    color: #5513A0;
}

::placeholder{
    color: #979797;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

input:focus::-webkit-input-placeholder{
    opacity: 0;
}

textarea:focus::-webkit-input-placeholder{
    opacity: 0;
}

.bushours p{
    font-size: 18px;
}

.time{
    font-size: 25px;
    color: #5513A0;
    padding-right: 5px;
    margin-bottom: -6px;
}

@media screen and (max-width: 1000px){
    .contactusform{
        width: 400px;
    }

    .contactusdeatils{
        width: 400px;
    }
}

@media screen and (max-width: 950px){
    .contactuslower{
        top: 0px;
        justify-content: center;
        background: none;
        border-radius: 0px;
    }

    .contactusform{
        width: 450px;
        border-radius: 15px;
        margin-top: 50px;
    }

    .contactusdeatils{
        width: 450px;
        gap: 20px;
        padding: 0;
    }

    .intouch{
        padding: 0;
        text-align: center;
    }

    .bushours{
        padding-bottom: 0px;
        text-align: center;
    }

    .subbutton{
        transform: translateX(288px);
    }
}

@media screen and (max-width: 460px){
    .contactusform{
        width: 80%;
    }

    .contactusdeatils{
        width: 80%;
    }

    .subbutton{
        position: relative;
        transform: translateX(0);
    }
}