.privacypolicy{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    min-height: 100vh;
    /* overflow: hidden; */
    width: 100%;
    background: url(./images/section-bg02.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.privacypolicyunder{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.privacyheading{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0px 0px 100px;
}

.privacyheading h2{
    font-weight: 300;
    font-size: 1.875rem;
    color: #55565b;
    margin: 0 0 0.625rem;
    text-transform: uppercase;
    letter-spacing: .2143rem;
}

.privacyheading h1{
    color: #5513A0;
    font-weight: 700;
    letter-spacing: .125rem;
    font-size: 3rem;
    text-transform: uppercase;
}

.privacyheading p{
    margin-bottom: 0.625rem;
    letter-spacing: .0625rem;
    line-height: 1.875rem;
    font-style: italic;
    color: #55565b;
    font-size: 1.125rem;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.privacycontent{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;
    font-weight: 400;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: .0625rem;
    color: #55565b;
    line-height: 2.1;
    padding-right: 150px;
    padding-left: 100px;
}

.policycontent1 p{
    margin: 0;
}